.item{
    position: relative;
    padding: 15px 65px;
    transition: .3s;
}
.active{
    background: #FFFFFF;
}

.item.bage::after{
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    background: #38A466;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 150px;
}